<div class="flex justify-between items-center p-6 text-white flex-col md:flex-row">
    <div [@notificationAmine1]>
        <div class="md:text-7xl text-xl font-extrabold customWidth flex flex-wrap">
            <p>EXPLORE <span class="text-green-600"> BEAUTIFUL</span> PLACES IN AFRICA. </p>
        </div>
        <p class="text-xs md:text-sm text-neutral-400">We curate sights and experiences from around Africa</p>
    </div>

    <div>       

        <div class="mt-4" [@notificationAmine3]>
            <div class="md:text-base text-sm font-bold text-white flex items-center " >
                <p>Travel Guide</p>
                <div class="ml-2">
                    <img src="/assets/Vector 1 (2).png" alt="">
                </div>
            </div>
            <p class="md:text-sm text-xs text-neutral-400">Unlock the world's wonders and embark on unforgettable
                adventures with our comprehensive travel guide.</p>
        </div>

        <div class="mt-4" [@notificationAmine3]>
            <div class="md:text-base text-sm font-bold text-white flex items-center " >
                <p>Local Gist</p>
                <div class="ml-2">
                    <img src="/assets/Vector 1 (2).png" alt="">
                </div>
            </div>
            <p class="md:text-sm text-xs text-neutral-400">Uncovering the Essence of Community: Exploring local gossip from anywhere  you travel to</p>
        </div>
    </div>

</div>