<div class="flex gap-4 justify-between mt-2">    
    <div>
        <p class="font-bold text-sm text-white mt-2">Suggest new location</p>
        <p class="text-xs text-neutral-400 mt-2  text-justify">Have you explored a new location lately? Tell us about it; we would love to see where you went and add it to Tour Catalougue so that new tourists can explore it too. </p>  
        <p class="font-bold text-sm text-white mt-4">Get started</p>
    </div>  
    
    <div>
        <p class="font-bold text-sm text-white mt-2">Share your story</p>
        <p class="text-xs text-neutral-400 mt-2  text-justify">Tell us about your experience visiting a destination. Did you have fun? any special moments? Share it with the world. </p>  
        <p class="font-bold text-sm text-white mt-4">Get started</p>
    </div>
   
</div>


<div class="flex gap-4 mt-4">
    <img src="/assets/Group.png" alt="instagram" width="25" >
    <img src="/assets/Vector2.png" alt="instagram" width="25">
    <img src="/assets/dribble-svgrepo-com 1 (1).png" alt="instagram" width="25">
    <img src="/assets/github-circle-svgrepo-com 2.png" alt="instagram" width="25">
</div>       